<footer class="bg-dark text-white">
  <div class="row" style="width: 80%;margin: 0 auto;">
    <div class="col-sm-4 m-auto">
      <p>Coded by Michael Mancini</p>
      <p>Made with <i class="fa fa-heart"></i></p>
      <p>Copyright 2018 &copy;</p>
      <p>All Rights Reserved</p>
    </div>
    <div class="col-sm-4 m-auto">
      <a href="">Back to the top</a>
      <a href="">Contact Us</a>
      <a href="">Career Opportunities</a>
      <a href="">Another Link</a>
    </div>
  </div>
</footer>